

body {
    max-width: 50%;
    margin: 1em auto;
    background-color: #333333;
    text-shadow: 2px 3px 5px black;
    color: white;
}

.second-title {
    border-bottom: 1px solid white;
    font-weight: bold;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    background-color: #3D3D3D;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 5px black;
}

.title {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}


p {
    border-top: 1px solid white;
    font-style: italic;
}

.main-image {
    text-align: center;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: skyblue;
}

a {
    color: #17A8C9;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


footer {
    background-color: #3D3D3D;
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;
}