

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    align-items: center;
    background-color: #3D3D3D;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 5px black;
    color: white;
}

.title1 {
    text-align: center;
    grid-column: 2 / 4;
}

.title2 {
    text-align: center;
    grid-row: 2 / 2;
    grid-column: 2 / 4;
}

body {
    background-color: #333333;
}

main {
    display: grid;
    grid-auto-columns: auto;
    text-shadow: 2px 3px 5px black;
    color: white;
    grid-column-gap: 15px;
}

section {
    text-align: center;
}

a {
    color: #17A8C9;
}

img {
    width: 100%;
}

#third-section {
    grid-row: 3 / 3;
}
