@media screen and (min-width: 800px) {

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    margin-bottom: 1em;
    align-self: stretch;
}

#third-section {
    grid-row: 1;
    grid-column: 3 / end;
}

}