@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    font-family: Roboto;
    font-size: 1rem;
}

header {
    display: grid;
    align-items: center;
    background-color: #3D3D3D;
    color: orange;
    max-width: 100%;
}

.sub-header {
    font-size: 0.5em;
    white-space: nowrap;
}

header h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    max-width: 100%;
}

header nav {
    grid-column: 3 / 5;
    grid-row: 1 / 2
}



body {
    background-color: #333333;
}

main {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 20em;
    text-shadow: 2px 3px 5px black;
    color: white;
    padding: 10px;
}

main div {
    text-align: center;
    border-radius: 5px;
    background-color: #3D3D3D;
    width: 100%;
}


a {
    color: #17A8C9;
}

header img {
    width: 100px;
    padding: 20px;
}

p {
    color: white;
}

h3, h4 {
    color: orange;
}

nav {
    display: none;
}

button {
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
    margin-bottom: 10rem;
    font-size: 20px;
    grid-row: 1 / 2;
}


nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: gray;
    margin-top: 5px;
    transition: margin-top 300ms;
    color: orange;
}

ul {
    color: white;
}

footer {
    color: white;
    background-color: #3D3D3D;
    text-align: center;
    font-size: 1.2rem;
}

.event {
    grid-row: 1 / 2;
}

.weather {
    grid-row: 2 / 3;
}
.action {
    display: flex;
    flex-direction: row;
    grid-row: 3 / 4;
}

.action img {
    height: 100%;
    width: 100%;
    position: relative;
}

.action h3 {
    position: absolute;
    left: 50%;
    font-size: 1.7em;
}

.spot-3 {
    display: none;
}

.join {
    display: none;
}

.news {
    grid-row: 4 / 5;
}

.responsive {
    display: grid;
    grid-column: 2 / 3;
    padding: 1.5rem;
    background-color: gray;
}

.responsive a:hover {
    background-color: gray;
    margin-left: 8px;
    transition: margin-left 300ms;
}

#hamburger:hover {
    background-color: gray;
}


.current-date {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    text-align: center;
    max-width: 100%;
}

.social {
    max-width: 100%;
    grid-row: 2 / 3;
    overflow: hidden;
}

.social img {
    width: 3em;
    align-items: center;
}